/*****************************/
.container {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
}

.header {
  @apply h-20 flex justify-between items-center ;
}

.ant-carousel .slick-dots li button {
  height: 16px;
  border-radius: 50%;
  @apply bg-gray-400
}

.ant-carousel .slick-dots li.slick-active button {
  @apply bg-orange-400
}

.ant-tabs-content-holder {
  border: 0 !important;
}

.App {
  text-align: center;
}
/*****************************/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
